
#container{
    width: 1000px;
    margin: 0 auto;
}

#chart_container {
    margin: 0px auto;
    border-top: 2px solid #CCC;
    padding-top: 20px;
}

.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}

body {
/*    font-family:'Segoe UI', Arial, sans-serif;*/
    text-anchor: middle;
    alignment-baseline: middle;
    font-size:11pt;
    
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-variant: normal;
    font-weight: 300;
    
    text-shadow: 1px 1px 1px #cccccc;
    filter: dropshadow(color=#cccccc, offx=1, offy=1);
    
    background-color: #fefefe;
}

#olympic_logo {
    width: 150px;
    background: url('2012_logo.jpeg') no-repeat;
    margin: 0 auto 30px auto;
}

#controllers_container{
    width: 700px;
    margin: 15px auto 0px auto;
}

#controllers_container_container{
    border-top: 2px solid #CCC;
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
}

#ageRadio{
    width: 290px;
    margin: 5px 10px;
    float: left;
}

#sexRadio{
    width: 160px;
    margin: 5px 10px;
    float: left;
}

#viewRadio{
    width: 190px;
    margin: 5px 10px;
    float: left;
}

.clear{
    clear: both;
}

#big_question{
    text-align: center;
    font-family: "georgia";
    font-weight: normal;
    font-size: 17px;
}