
#container{
    width: 1000px;
    margin: 0 auto;
}

#chart_container {
    font: 10px sans-serif;
    margin: 15px auto;
    border-top: 2px solid #eee;
    padding-top: 20px;
}

.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}

body {
    font-family:'Segoe UI', Arial, sans-serif;
    text-anchor: middle;
    alignment-baseline: middle;
    font-size:11pt;
}

#olympic_logo {
    width: 150px;
    background: url('2012_logo.jpeg') no-repeat;
    margin: 0 auto 30px auto;
}

#controllers_container{
    width: 690px;
    margin: 15px auto 0px auto;
}

#controllers_container_container{
    border-top: 2px solid #eee;
}

#ageRadio{
    width: 280px;
    margin: 5px 10px;
    float: left;
}

#sexRadio{
    width: 160px;
    margin: 5px 10px;
    float: left;
}

#viewRadio{
    width: 190px;
    margin: 5px 10px;
    float: left;
}

.clear{
    clear: both;
}

#big_question{
    text-align: center;
}